<div *ngIf="images && images.length > 0" class="carousel-container">
  <img
    *ngFor="let image of images; let i = index"
    [src]="image.imageSrc"
    [alt]="image.imageAlt"
    [ngClass]="{ 'image-active': selectedIndex === i }"
    class="fade"
  />

  <div class="textdesc">
    <h2
      *ngFor="let desc of images; let i = index"
      [ngClass]="{ textactive: selectedIndex === i }"
    >
      {{ desc.imageDesc }}
    </h2>
  </div>
<!-- ---------------------Rounded form start ------------------ -->
  <div *ngIf="customer.authStatus != 'AUTH'" class="login-form-crousel rounded-xl">
    <div class="form">
      <h2 class="loginbutton text-center mb-10 text-lg font-medium">LOGIN</h2>
      <form
        (ngSubmit)="validateUser(loginForm)"
        #loginForm="ngForm"
        class="login-form"
      >
        <input
          [(ngModel)]="model.username"
          #username="ngModel"
          type="text"
          placeholder="username"
          name="username"
          required
        />
        <input
          [(ngModel)]="model.password"
          #password="ngModel"
          type="password"
          placeholder="password"
          name="password"
          required
        />
        <button type="submit">login</button>
      </form>
    </div>
  </div>
  <!-- -------------rounded form end ------------------- -->

  <div *ngIf="indicators" class="carousel-dot-container">
    <span
      *ngFor="let dot of images; let i = index"
      class="dot"
      [ngClass]="{ active: selectedIndex === i }"
      (click)="selectImage(i)"
    ></span>
  </div>

  <!-- <button
    (click)="onPrevClick()"
    *ngIf="controls"
    class="btn-carousel btn-prev"
  >
    <span class="icon-carousel icon-prev">&larr;</span>
  </button>

  <button
    (click)="onNextClick()"
    *ngIf="controls"
    class="btn-carousel btn-next"
  >
    <span class="icon-carousel icon-next">&rarr;</span>
  </button> -->
</div>
