<div class="sidenav">
  <div>
    <a class="text-sm" routerLink="/admindashboard">Home</a>
  </div>

  <div>
    <a class="text-sm" routerLink="/allCustomers">Customers</a>
  </div>

  <div>
    <a class="text-sm" routerLink="/admin/check_books/requests">CHECKBOOK REQUESTS</a>
  </div>

  <div>
    <a class="text-sm" routerLink="/admin/listCredits">CREDIT-CARD REQUESTS</a>
  </div>

  <div>
    <a class="text-sm" routerLink="/admin/loanrequests">LOAN REQUESTS</a>
  </div>

  <div>
    <a class="text-sm" routerLink="/admin/createOffers">GENERATE OFFERS</a>
  </div>

  <div class="bottom-border">
    <a class="text-sm" routerLink="/adminUserQueries">CUSTOMER QUERIES</a>
  </div>
</div>
