<h1 class="pt-10 pl-10 text-xl">CUSTOMER DASHBOARD</h1>
<div class="flex justify-evenly mt-8">
  <div class="balance py-3 px-8 rounded-xl text-xl text-white">
    <div>Your Balance</div>
    <div class="text-center">${{ accountBalance }}</div>
  </div>
  <div
    class="services py-3 px-10 text-white rounded-xl text-xl flex justify-center items-center"
  >
    Services
  </div>
  <div
    class="offers py-3 px-10 flex justify-center text-xl items-center text-white rounded-xl"
  >
    Offers
  </div>
</div>

<div class="transactions mt-12 pl-10">
  <h1 class="text-xl">YOUR RECENT TRANSACTIONS</h1>
  <div></div>
</div>
