<!-- <div>
    <form (ngSubmit)="maketrxn()" method="POST">
        <input type="text" name="account_num_sender" id="account_num_sender" [(ngModel)] = "trxndetails.account_num_sender">
        <input type="text" name="account_num_reciever" id="account_num_reciever" [(ngModel)] = "trxndetails.account_num_reciever">
        <input type="number" name="transaction_amt" id="transaction_amt" [(ngModel)] = "trxndetails.transaction_amt">
        <input type="text" name="trxnDescription" id="trxnDescription" [(ngModel)] = "trxndetails.trxnDescription">
        <input type="button" value="Make Transaction">
    </form>
</div> -->

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>

<div class="container-fluid py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-12">
				<div class="bg-orange shadow-lg border-5 p-5" >
					<h1 class="mb-4 text-dark">Transactions</h1>
					
				</div>
			</div>
		</div>
	</div>
</div>