<!-- <div>
    <form (ngSubmit)="maketrxn()" method="POST">
        <input type="text" name="account_num_sender" id="account_num_sender" [(ngModel)] = "trxndetails.account_num_sender">
        <input type="text" name="account_num_reciever" id="account_num_reciever" [(ngModel)] = "trxndetails.account_num_reciever">
        <input type="number" name="transaction_amt" id="transaction_amt" [(ngModel)] = "trxndetails.transaction_amt">
        <input type="text" name="trxnDescription" id="trxnDescription" [(ngModel)] = "trxndetails.trxnDescription">
        <input type="button" value="Make Transaction">
    </form>
</div> -->

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>



<div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body box-wrap laptop-bg">
            <h3>Welcome to ICIN Bank  !</h3>
            <p>
              We offer you actions like Transfer of money, Checkbook request, Deposit,
              Withdraw.
            </p>
            <br />
            <p> This is your Saving <span class="fw-bold">A/C NO:  </span> </p>
            <p>
              <a class="btn btn-info" href="/deposit"><i class="fa-solid fa-dollar"></i> Deposit Money</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body box-wrap">
            <div class="box-title balance"><i class="fa-solid fa-hand-holding-dollar"></i> Saving Balance</div>
            <div class="box-info"> ₹ </div>
            <p class="text-center">
             This your saving account balace, Deposit money to increase Savings!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body box-wrap">
            <div class="box-title transfer"><i class="fa-solid fa-money-bill-transfer"></i> Total Transfer</div>
            <div class="box-info"> ₹ </div>
            <p class="text-center">
              <br/>
              <a class="btn btn-warning" href="/transfer">Transfer Money</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body box-wrap">
            <div class="box-title withdrawl"><i class="fa-solid fa-magnifying-glass-dollar"></i> Total Withdrawl</div>
            <div class="box-info"> ₹ </div>
            <p class="text-center">
              <br/>
              <a class="btn btn-danger" href="/withdraw">Withdraw Money</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body box-wrap">
            <div class="box-title deposit"><i class="fa-solid fa-sack-dollar"></i> Total Deposit </div>
            <div class="box-info"> ₹ </div>
            <p class="text-center">
              <br/>
              <a class="btn btn-info" href="/deposit">Deposit Money</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body box-wrap">
            <div class="box-title transaction"><i class="fa-solid fa-receipt"></i> Total Transaction</div>
            <div class="box-info"> ₹ </div>
            
            <p class="text-center" style="font-size: 1.5em;">
               Transcations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
