.main-screen {
  width: 85%;
}
.balance {
  background-image: linear-gradient(
    to right top,
    #da4453,
    #ca355c,
    #b72a63,
    #a12468,
    #89216b
  );
}
.services {
  background-image: linear-gradient(
    to right top,
    #da4453,
    #ca355c,
    #b72a63,
    #a12468,
    #89216b
  );
}

.offers {
  background-image: linear-gradient(
    to right top,
    #da4453,
    #ca355c,
    #b72a63,
    #a12468,
    #89216b
  );
}
