.netbank img {
  height: 500px;
}

.credit {
  padding-left: 150px;
  display: flex;
}

.creditcard {
  height: 500px;
}
.creditcard img {
  height: 400px;
}

.border-round {
  border-top-right-radius: 20%;
  padding-left: 30px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.border-round-mid {
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
}
