<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="font-body">
    <!-- <app-loan-req></app-loan-req> -->
    <!-- <app-make-transaction></app-make-transaction> -->
    <!-- <app-trxn-dashboard></app-trxn-dashboard> -->
    <!-- <app-landing></app-landing>     -->
    <!-- <app-contact-query></app-contact-query> -->
    <!-- <app-checkbook></app-checkbook> -->

    <router-outlet></router-outlet>
    <!-- <app-offers-amdin></app-offers-amdin> -->
    
    <!-- <app-user-query></app-user-query> -->
    <!-- <app-user-offers></app-user-offers> -->
    <!-- <app-login></app-login> -->
    <!-- <app-add-payee></app-add-payee> -->
    <!-- <app-update-payee></app-update-payee> -->

  </body>
</html>
