<div class="sidenav">
  <button class="text-sm" routerLink="/customerdashboard">HOME</button>
  <button class="text-sm" routerLink="/payment">PAY</button>
  <button class="text-sm" routerLink="/accountdetails">ACCOUNT DETAILS</button>
  <button class="text-sm" routerLink="/transaction">TRANSACTIONS</button>
  <button class="text-sm" routerLink="/checkbR">CHECKBOOK REQUEST</button>
  <button class="text-sm" routerLink="/creditR">CREDIT-CARD REQUEST</button>
  <button class="text-sm" routerLink="/loanreq">LOAN REQUEST</button>
  <button class="text-sm" routerLink="/userOffers">OFFERS</button>
  <button class="text-sm" routerLink="/usercontact">HELP</button>
</div>
