<div class="sidenav">
  <div>
    <span> </span>
    <a class="text-sm" href="">PAY</a>
  </div>

  <div>
    <span> </span>
    <a class="text-sm" href="">ACCOUNT DETAILS</a>
  </div>

  <div>
    <span> </span>
    <a class="text-sm" href="">TRANSACTIONS</a>
  </div>

  <div>
    <span> </span>
    <a class="text-sm" href="">CHECKBOOK REQUEST</a>
  </div>

  <div>
    <span> </span>
    <a class="text-sm" href="">CREDIT-CARD REQUEST</a>
  </div>

  <div>
    <span> </span>
    <a class="text-sm" href="">LOAN REQUEST</a>
  </div>

  <div>
    <span> </span>
    <a class="text-sm" href="">OFFERS</a>
  </div>

  <div class="bottom-border">
    <span> </span>
    <a class="text-sm" href="">HELP</a>
  </div>
</div>
