<div class="sidenav">
  <div>
    <a class="text-sm" routerLink="/payment">PAY</a>
  </div>

  <div>
    <a class="text-sm" routerLink="/accountdetails">ACCOUNT DETAILS</a>
  </div>

  <div>
    <a class="text-sm" routerLink="/transaction">TRANSACTIONS</a>
  </div>

  <div>
    <a class="text-sm" routerLink="/checkbR">CHECKBOOK REQUEST</a>
  </div>

  <div>
    <a class="text-sm" routerLink="/creditR">CREDIT-CARD REQUEST</a>
  </div>

  <div>
    <a class="text-sm" routerLink="/loanreq">LOAN REQUEST</a>
  </div>

  <div>
    <a class="text-sm" routerLink="/allOffers">OFFERS</a>
  </div>

  <div class="bottom-border">
    <a class="text-sm" routerLink="/usercontact">HELP</a>
  </div>
</div>
