<app-navbar></app-navbar>
<body>
    <div class="container">
      <header class="header">
        <h1 id="title" class="text-center">Update payee details</h1>
      </header>
      <form id="survey-form" #myform="ngForm">
        <div class="form-group">
          <label id="name-label" for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Name" required [(ngModel)]="payee.name" #name="ngModel"/>
        </div>
        <div class="form-group">
          <label id="email-label" for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Email" required [(ngModel)]="payee.email" #email="ngModel"/>
        </div>
        <div class="form-group">
          <label id="number-label" for="number">Phone</label>
          <input type="text" name="phone" id="phone"  class="form-control" placeholder="Phone" required [(ngModel)]="payee.phone" #phone="ngModel"/>
        </div>
        <div class="form-group">
            <label id="number-label" for="number">Account Number</label>
            <input type="number" name="acno" id="acno" class="form-control" placeholder="Account number" required [(ngModel)]="payee.payee_account_no" #acno="ngModel"/>
          </div>
          <div class="form-group">
            
            <label id="number-label" for="number">Bank_name</label>
            <input type="text" name="age" id="bankname" class="form-control" placeholder="Bank name" required [(ngModel)]="payee.bank_name" #name="ngModel"/>
        
          </div>
       
        
  
        <div class="form-group"><div class="btn">
          <button [disabled]="myform.form.invalid" (click)="updatePayee()" type="submit" id="submit" class="submit-button">Save</button>
        </div>
  
        </div>
        <div *ngIf="toggle">Changes Saved!</div>
  
      </form>
    </div>
  </body>
  <app-mainfooter></app-mainfooter>
 
