<app-user-nav></app-user-nav>
<div class="flex justify-between">
  <app-adminsidenav></app-adminsidenav>
  <div class="main-screen pt-6">
    <h3 class="text-center">All Cheque book requests</h3>
    <div class="flex flex-col items-center mt-8">
      <table id="customers">
                    <tr>
                        
                        <th class="p-3">req_id</th>
                        <th class="p-3">Account No.</th>
                        <th class="p-3">no. Of leaf</th>
                        <th class="p-3">approve</th>
                        
                        <th class="p-3">req_dt</th>
        
                        
                    </tr>
                
                     <tr  *ngFor="let cc of checkbookCollection; let i = index">
                        
                        <ng-container *ngFor="let k of findRecords(cc)">
                            <td class="border-black border-1 font-sans text-center p-1">{{k}}</td>
                        </ng-container>
                        <!-- <td>
                            <!-- <button class="btn btn-danger" (click)="">DELETE</button> | -->
                            <!-- <button class="btn btn-info" (click)="">EDIT</button> -->
                        <!-- </td> -->
                    </tr> 
                    
                </table>
              </div>
            </div>
          </div>
      