#customers {
  width: 80%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 5px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff7b00;
  color: white;
}

.main-screen {
  width: 95%;
}
