<nav class="flex flex-col">
  <!--? upper-nav -->
  <div class="flex justify-between px-4 items-center bg-gray-900 py-2">
    <!--? left part -->
    <div class="upper-left">
      <a href="#">Personal</a>
      <span>|</span>
      <a href="#">Asset Management</a>
      <span>|</span>
      <a href="#">Business</a>
    </div>

    <!--? right-part -->
    <div class="upper-right">
      <a *ngIf="customer.authStatus != 'AUTH'" routerLink="/register">Register</a>
      <a
        class="login py-1 px-2 rounded-md"
        *ngIf="customer.authStatus != 'AUTH'"
        routerLink="/login"
        >Login</a
      >
      <a
        class="login py-1 px-2 rounded-md"
        *ngIf="customer.authStatus == 'AUTH'"
        routerLink={{linkdash}}
        >DashBoard</a
      >
      <a
        class="login py-1 px-2 rounded-md"
        *ngIf="customer.authStatus == 'AUTH'"
        routerLink="/logout"
        >Logout</a
      >
    </div>
  </div>

  <!--? lower-nav -->
  <div class="flex justify-between px-4 items-center py-2 lowernavbg">
    <!--? brand -->
    <div class="text-black text-2xl font-medium pl-3">
      <a routerLink="/home"> H<span class="text-white text-3xl">M</span>B </a>
    </div>

    <!--? right-part -->
    <div class="lower-right">
      <span class="dropdown-service" (click)="showDropdown()">Services</span>

      <a class="text-white" routerLink="/admin/allOffers">Offers</a>
      <!-- <a class="text-white" href="#">Pay</a> -->


      <!-- <a class="text-white" href="#">Offers</a> -->
      <a
        class="text-white"
        routerLink={{link}}
        >Pay</a
      >
      <a class="text-white" routerLink="/contact">Contact</a>
      <!--? services-dropdown -->
      <span [ngClass]="{ show: showDropDown === true }" class="dropdown">
        <a routerLink={{linkLoan}}>Loans</a>
        <a routerLink={{linkCheque}}>Checkbook</a>
        <a routerLink={{linkCredit}}>CreditCard</a>
      </span>
    </div>
  </div>
</nav>
