<footer class="flex flex-col bg-gray-900">
    <div class="flex justify-between mx-5 py-3 border-gray-400 border-b-2">
      <!-- footer-links -->
      <div class="footer-links text-sm">
        <a href="">Contact</a>
        <a href="">Offers</a>
        <a href="">Investment Banking</a>
        <a href="">Business Banking</a>
      </div>
  
      <!-- social-media -->
      <div class="flex social">
        <a href=""><img src="../../../assets/facebook.png" alt="" /></a>
        <a href="">
          <img src="../../../assets/instagram.png" alt="" />
        </a>
        <a href="">
          <img src="../../../assets/linkedin.png" alt="" />
        </a>
      </div>
    </div>
  
    <!-- privacy -->
    <div
      class="flex items-center bottom-footer justify-evenly mx-5 py-3 border-b-2 border-gray-400 text-sm"
    >
      <a href="">PRIVACY</a>
      <a href="">SITEMAP</a>
      <a class="text-xl" href=""
        >H<span style="color: #ff7b00;" class="text-2xl">M</span>B</a
      >
      <a href="">BLOG</a>
      <a href="">NEWSROOM</a>
    </div>
  
    <!-- copyright -->
    <div class="text-center py-3 text-white text-sm">
      <p>COPYRIGHT - 2022</p>
    </div>
  </footer>
  
