<app-landing-nav></app-landing-nav>
<div class="flex flex-col justify-center items-center">
  <div class="main-screen pt-6 ">
    <h3 class="text-center underline">All Offers</h3>
    <div class="flex flex-col items-center mt-8 mb-8">
      <table id="customers">
            <tr>
                
                <th class="p-3">req_id</th>
                <th class="p-3">offer Description</th>
                <th class="p-3">creation date</th>
                
                <th class="p-3">"Expiry date</th>

                
            </tr>
        
             <tr  *ngFor="let cc of offersCollection; let i = index">
                
                <ng-container *ngFor="let k of findRecords(cc)">
                    <td class="border-black border-1 font-sans text-center p-1">{{k}}</td>
                </ng-container>
                <!-- <td>
                    <!-- <button class="btn btn-danger" (click)="">DELETE</button> | -->
                    <!-- <button class="btn btn-info" (click)="">EDIT</button> -->
                <!-- </td> -->
            </tr> 
            
        </table>
        </div>
   
  </div>
</div>




<!-- <button (click)="getCheckBooks()" class="bg-blue-500 shadow-lg shadow-blue-500/50 ...">show</button> -->



<app-footer></app-footer>